/*Main body*/
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*main container of my to do app*/
#Main-container-div{
    width: 60vw;
    height: auto;
    border:#738296 solid 1px;
    padding: 0px;
}

/*main heading */
#Main-heading{
    color: #738296 ;
    text-align: center;
    font-family: cursive;
      
 }


/*description div*/
#activity{
    border: #738296 solid 1px;
}


/*description box*/
.description{
    color: #738296 ;
}


/*description area*/
.textareaclass-activity{
    width: 100%;
}


/*date and work div*/
#date-and-work{
    display: flex;
}

/*work div*/
#work{
  width: 50% ;
  height: 100px;
  border: #738296 solid 1px;
  padding: 10px;
}

#work:hover{
    width: 50% ;
    height: 100px;
    border: #a6afbb solid 1px;
    padding: 10px;
    background-color: #a6afbb;
  }
  
/*date div*/  
#date{

    width: 50% ;
    height: 100px;
    border: #738296 solid 1px;
    padding: 10px;
}


#date:hover{

    width: 50% ;
    height: 100px;
    border: #a6afbb solid 1px;
    padding: 10px;
    background-color: #a6afbb;
}


#work p{
    color: #738296 ;
}

#date p{
    color: #738296 ;
}

/*styling to my buttons */
.add-del-button{
     height: 50px;
    border-top:#738296 solid 1px;
    display: flex;
    justify-content: center;
   
   
}


.add-button{
    background-color:  #454345;
    color: white;
    height: 40px;
    margin: 5px;
   
}


.del-button{

    background-color:  #EE351E;
    color: white;
    height: 40px;
    margin: 5px;
   

}


.add-del-spam{
    margin: 0px 2px ;
}


/*list of My Task*/
#list-for-tasks{
    list-style: none;
    padding: 0px;
    
}

#container-of-list{
    width: 100%;
    border-top:#738296  solid 1px ;
    border-bottom :#738296  solid 1px ;
    margin: 0px;
    display: flex;
}

.checkboxdiv{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.descriptiondiv{
    padding: 0px 5px ;
    width: 70%;
    color: #738296;
}

.categorydiv{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

/*lists of all the categories*/
.Personal{
    width: 40%;
    height: 30px;
    padding: 5px 0px;
    text-align: center;
    color : white;
    background-color: #F2A700;
    border-radius: 5%;

}

.School{
    width: 40%;
    height: 30px;
    padding: 5px 0px;
    text-align: center;
    color : white;
    background-color:purple;
    border-radius: 5%;

}
.Work{
    width: 40%;
    height: 30px;
    padding: 5px 0px;
    text-align: center;
    color : white;
    background-color:lightgreen;
    border-radius: 5%;

}

.Cleaning{
    width: 40%;
    height: 30px;
    padding: 5px 0px;
    text-align: center;
    color : white;
    background-color: lightblue;
    border-radius: 5%;

}

.Other{
    width: 40%;
    height: 30px;
    padding: 5px 0px;
    text-align: center;
    color : white;
    background-color: pink;
    border-radius: 5%;

}

.description-spam{
   margin: 1.5px 5px;
}


